.dashboard {
  .item-container {
    padding-bottom: 20px;

    &.item-width-1 {
      width: 320px;
    }
    &.item-width-2 {
      width: 650px;
    }
    &.item-width-3 {
      width: 980px;
    }

    &.item-height-1 {
      height: 320px;
    }
    &.item-height-2 {
      height: 650px;
    }
    &.item-height-3 {
      height: 980px;
    }

    .card,
    .leaflet-container {
      height: 100%;
      width: 100%;

      font-size: 200px;
      text-align: center;

      .card-item-title {
        padding: 5px;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 20px;
        float: left;
        color: rgb(57, 58, 61);
        text-transform: uppercase;
        cursor: pointer;
        font-size: 14px !important;
      }
    }
  }
}
